.loginContainer {
    max-width: 40%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    color: white;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginHeader .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .loginHeader h1 {
    margin-bottom: 10px;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .loginForm label {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .loginForm input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginButton {
    width: 50%;
    align-self: center;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .loginButton:hover {
    background-color: #218838;
  }
  
  .loginFooter p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
  }
  
  /* .loginFooter a {
    color: #007bff;
    text-decoration: none;
  }
  
  .loginFooter a:hover {
    text-decoration: underline;
  } */